<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Продукти</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Продукти</h1>

<!-- Форма для фільтрації -->
<form method="get" action="/products">
  <label for="category">Категорії:</label>
  <select name="category" id="category">
    <option value="">Всі</option>
    <!-- Вивід категорій -->
    <th:block th:each="category : ${categories}">
      <option th:value="${category.id}" th:text="${category.name}"></option>
    </th:block>
  </select>

  <label for="minPrice">Мінімальна ціна:</label>
  <input type="number" name="minPrice" id="minPrice" step="0.01">

  <label for="maxPrice">Maксимальна ціна:</label>
  <input type="number" name="maxPrice" id="maxPrice" step="0.01">

  <label for="sortBy">Сортувати за:</label>
  <select name="sortBy" id="sortBy">
    <option value="id">Стандарт</option>
    <option value="price">Ціна</option>
    <option value="category.name">Категорія</option>
  </select>

  <button type="submit">Фільтрувати</button>
</form>

<a href="/products/add">Додати новий продукт</a>
<!-- Таблиця продуктів -->

<table>
  <thead>
  <tr>
    <th>Назва</th>
    <th>Ціна</th>
    <th>Категорія</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="product : ${products}">
    <tr>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.category.name}"></td>
      <td>
        <a th:href="@{/products/{id}(id=${product.id})}" class="view">Переглянути</a>
        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="edit">Редагувати</a>
        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="delete" th:onclick="return confirm('Ви впевнені?')">Видалити</a>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

<!-- Пагінація -->
<div>
        <span th:if="${currentPage > 0}">
            <a th:href="@{/products(page=${currentPage - 1})}">Попередня</a>
        </span>
  <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{/products(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </span>
  <span th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/products(page=${currentPage + 1})}">Наступна</a>
        </span>
</div>
</body>
</html>
